.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}

.place-order-left p{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    color: tomato;
}

.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid peachpuff;
    border-radius: 4px;
    outline-color: tomato;
    color: tomato;
}

.place-order-left input::placeholder{
    color: tomato;
}

.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}

.place-order-right{
    margin-top: 10px;
    width: 100%;
    max-width: max(40%,500px);
}

.place-order-right hr{
    height: 1px;
    background-color: peachpuff;
    border: none;
}